@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  position: relative;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: smooth;
}
body {
  line-height: 1;
  background-color: #fff;
}

input {
  -webkit-appearance: none;
  outline: none;
  background: inherit;
}

button {
  -webkit-appearance: none;
}
