@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

html {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: smooth;
}
body {
  background-color: #fff;
  line-height: 1;
}

input {
  background: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a,
button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
